body {
	max-width: 750px;
	width: calc(100% - 30px);
	margin: 0 auto;
	padding: 30px 15px;
	line-height: 1.5;
	font-family: monospace;
	color: #000000;
	background-color: #ffffff;
}

header {
	margin-bottom: 40px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.article {
	width: 100%;
	padding: 10px 0;
	float: left;
}

.content {
	width: calc(100% - 20px - 2px);
	margin: 0 0 50px 0;
	border: 1px dashed #777777;
	padding: 10px;
	background-color: #eaeaea;
	font-size: 10pt;
	display: block;
	float: left;
}

.entry-url {
	display: inline-block;
	font-family: monospace;
	float: right;
	background-color: #eaeaea;
	border-top: 1px dashed #777777;
	border-left: 1px dashed #777777;
	border-right: 1px dashed #777777;
	padding: 0 5px;

}

.standalone-link {
	float: left;
	border: none;
	text-decoration: none;
	background-color: transparent;
	padding: 2px 5px 10px 5px;
	cursor: pointer;
	margin-right: 5px;
}

.standalone-link:hover {
	-webkit-filter: drop-shadow(0 0 5px #333333);
	filter: drop-shadow(0 0 5px #333333);
}

.content h2 {
	margin: 0 0 10px 0;
	border-bottom: 1px dashed #999999;
	padding-bottom: 5px;
	font-size: 13pt;
}

.content br {
	margin: 5px 0;
	display: block;
}

.content img {
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

.content .img-description {
	text-align: center;
	font-size: 9pt;
	color: #555555;
	margin-bottom: 20px;
	display: block;
}

#toc_message {
	font-weight: bold;
}

#table-of-contents {
	margin-bottom: 50px;
	width: 100%;
	float: left;
}

.toc-entry {
}
